header {
    width: 100%;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    color: $bgcolor;
    font-size: 0.8em;
    background-color: $darkheader;

    .interf-container {
        padding: 0 23em;
    }

    .contact {
        display: flex;
        flex-direction: row;
        color: $yellowtext;
        height: 3em;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        font-size: 0.9em;
        margin: 0.8em 16em 0 13em;

        .arrow {
            margin-left: -0.5em;
        }

        .text,
        .dot,
        .arrow {
            color: $bgcolor;
        }

        .email {
            text-transform: lowercase;
        }
    }
}
