.menu-nav {
    background-color: $lightheader;
    .interf-container {
        text-transform: uppercase;
        color: $bgcolor;
        width: 100%;
        padding: 0 9em;
    }

    .header {
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 6em;
        align-items: center;
        justify-content: space-between;
        font-size: 0.75em;
        .logo {
            width: 30%;
        }
        h1 {
            font-size: 2.7em;
            font-weight: 700;
        }
        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            font-size: 1.05em;
            align-items: center;
            padding-top: 1.5em;
            width: 70%;
            justify-content: space-between;
            .search {
                width: 25px;
                height: 25px;
                border: 5px solid $bgcolor;
                border-radius: 8px;
                background-color: $bgcolor;
                position: absolute;
                right: 13em;
            }

            li {
                padding-right: 3em;
                min-width: 130px;

                &:nth-child(5) {
                    margin: 0;
                }
                .text {
                    margin: 0;
                }
            }
        }
    }
}
